# python env
__pycache__
.idea

# debug file
demo*
customize.toml

# logs
logs/

# mac ignore file
.DS_Store

# backup files

# download
Download/

# compilation product & output
build/
