# python env
__pycache__
.idea

# debug file
demo*
customize.toml

# logs
logs/

# mac ignore file
.DS_Store

# backup files

# download
Download/

# compilation product & output
/build

### frontend
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
