# python env
__pycache__
.idea

# debug file
demo*

# logs
logs/

# mac ignore file
.DS_Store

# backup files
settings.json
file_sharing_backups.json

# download
Download/

# compilation product & output
build/