aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
altgraph==0.17.3
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
autocommand==2.2.2
backports.tarfile==1.2.0
black==23.9.1
cchardet==2.1.7
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
exceptiongroup==1.1.3
fastapi==0.101.1
frozenlist==1.4.0
h11==0.14.0
idna==3.4
importlib_resources==6.4.4
jaraco.context==6.0.1
jaraco.functools==4.0.2
jaraco.text==4.0.0
macholib==1.16.3
modulegraph==0.19.6
more-itertools==10.4.0
multidict==6.0.4
mypy-extensions==1.0.0
netifaces==0.11.0
packaging==23.1
pathspec==0.11.2
pefile==2023.2.7
platformdirs==3.10.0
psutil==5.9.5
py2app==0.28.6
pydantic==2.2.0
pydantic_core==2.6.0
pyftpdlib==1.5.7
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pyperclip==1.8.2
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
python-dotenv==1.0.0
pywin32-ctypes==0.2.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.31.0
sniffio==1.3.0
starlette==0.27.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.4
uvicorn==0.23.2
yarl==1.9.2
